.popup-full-img__container {
    position: relative;
    margin: auto;
    padding: 0;
    width: auto;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    background: none;
}